<div class="container">
    <div class="row">
    <!--<div class="col-12">
    <h2 id="page-heading">
        <span jhiTranslate="badgeApp.employe.home.title">Employes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-employe" [routerLink]="['/employe/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="badgeApp.employe.home.createLabel">
            Type de badge
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    </div>-->
    <div class="row">
        <div class="col">
            <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let employe of employes">
                    <jhi-badge-employe [employe]="employe">
                    </jhi-badge-employe>
                </li>
            </ul>

        </div>
    </div>
</div>
</div>
