<div>
    <h2 id="page-heading">
        <span jhiTranslate="badgeApp.employe.home.title">Employes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-employe" [routerLink]="['/employe/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="badgeApp.employe.home.createLabel">
            Create new Employe
            </span>
        </button>
        <button style="margin-right: 3px;" id="jh-print-entity" class="btn btn-primary float-right jh-print-entity creat-employe" [routerLink]="['/employe/print']">
            <fa-icon [icon]="'list'"></fa-icon>
            <span>
            Imprimer des badges
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="employes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="badgeApp.employe.matricule">Matricule</span></th>
            <th><span jhiTranslate="badgeApp.employe.photo">Photo</span></th>
            <th><span jhiTranslate="badgeApp.employe.nom">Nom</span></th>
            <th><span jhiTranslate="badgeApp.employe.prenom">Prenom</span></th>
            <th><span jhiTranslate="badgeApp.employe.telephone">Telephone</span></th>
            <th><span jhiTranslate="badgeApp.employe.nomService">Nom Service</span></th>
            <th><span jhiTranslate="badgeApp.employe.badge">Badge</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let employe of employes ;trackBy: trackId">
                <td><a [routerLink]="['/employe', employe.id, 'view' ]">{{employe.id}}</a></td>
                <td>{{employe.matricule}}</td>
                <td>{{employe.photo}}</td>
                <td>{{employe.nom}}</td>
                <td>{{employe.prenom}}</td>
                <td>{{employe.telephone}}</td>
                <td>{{employe.nomService}}</td>
                <td>
                    <div *ngIf="employe.badge">
                        <a [routerLink]="['../badge', employe.badge?.id, 'view' ]" >{{employe.badge?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/employe', employe.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/employe', employe.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'employe/'+ employe.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
