<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="employe">
            <h2><span jhiTranslate="badgeApp.employe.detail.title">Employe</span> {{employe.prenom}} {{employe.nom}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="badgeApp.employe.matricule">Matricule</span></dt>
                <dd>
                    <span>{{employe.matricule}}</span>
                </dd>
                <dt><span jhiTranslate="badgeApp.employe.photo">Photo</span></dt>
                <dd>
                    <span>{{employe.photo}}</span>
                </dd>
                <dt><span jhiTranslate="badgeApp.employe.nom">Nom</span></dt>
                <dd>
                    <span>{{employe.nom}}</span>
                </dd>
                <dt><span jhiTranslate="badgeApp.employe.prenom">Prenom</span></dt>
                <dd>
                    <span>{{employe.prenom}}</span>
                </dd>
                <dt><span jhiTranslate="badgeApp.employe.telephone">Telephone</span></dt>
                <dd>
                    <span>{{employe.telephone}}</span>
                </dd>
                <dt><span jhiTranslate="badgeApp.employe.nomService">Nom Service</span></dt>
                <dd>
                    <span>{{employe.nomService}}</span>
                </dd>
                <dt><span jhiTranslate="badgeApp.employe.badge">Badge</span></dt>
                <dd>
                    <div *ngIf="employe.badge">
                        <a [routerLink]="['/badge', employe.badge?.id, 'view']">{{employe.badge?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/employe', employe.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
