<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-employe-heading" jhiTranslate="badgeApp.employe.home.createOrEditLabel">Create or edit a Employe</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!employe.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="employe.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="badgeApp.employe.matricule" for="field_matricule">Matricule</label>
                    <input type="text" class="form-control" name="matricule" id="field_matricule"
                        [(ngModel)]="employe.matricule" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="badgeApp.employe.photo" for="field_photo">Photo</label>
                    <input type="text" class="form-control" name="photo" id="field_photo"
                        [(ngModel)]="employe.photo" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="badgeApp.employe.nom" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                        [(ngModel)]="employe.nom" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="badgeApp.employe.prenom" for="field_prenom">Prenom</label>
                    <input type="text" class="form-control" name="prenom" id="field_prenom"
                        [(ngModel)]="employe.prenom" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="badgeApp.employe.telephone" for="field_telephone">Telephone</label>
                    <input type="text" class="form-control" name="telephone" id="field_telephone"
                        [(ngModel)]="employe.telephone" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="badgeApp.employe.nomService" for="field_nomService">Nom Service</label>
                    <input type="text" class="form-control" name="nomService" id="field_nomService"
                        [(ngModel)]="employe.nomService" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="badgeApp.employe.badge" for="field_badge">Badge</label>
                    <select class="form-control" id="field_badge" name="badge" [(ngModel)]="employe.badge">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="badgeOption.id === employe.badge?.id ? employe.badge : badgeOption" *ngFor="let badgeOption of badges; trackBy: trackBadgeById">{{badgeOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
