<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-acces-heading" jhiTranslate="badgeApp.acces.home.createOrEditLabel">Create or edit a Acces</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!acces.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="acces.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="badgeApp.acces.nom" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                        [(ngModel)]="acces.nom" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="badgeApp.acces.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="acces.description" />
                </div>

                <div class="form-group">
                    <label jhiTranslate="badgeApp.acces.secteur" for="field_secteur">Secteur</label>
                    <select class="form-control" id="field_secteur" multiple name="secteur" [(ngModel)]="acces.secteurs">
                        <option [ngValue]="getSelected(acces.secteurs, secteurOption)" *ngFor="let secteurOption of secteurs; trackBy: trackSecteurById">{{secteurOption.nom}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
