<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="acces">
            <h2><span jhiTranslate="badgeApp.acces.detail.title">Acces</span> {{acces.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="badgeApp.acces.nom">Nom</span></dt>
                <dd>
                    <span>{{acces.nom}}</span>
                </dd>
                <dt><span jhiTranslate="badgeApp.acces.description">Description</span></dt>
                <dd>
                    <span>{{acces.description}}</span>
                </dd>
                <dt><span jhiTranslate="badgeApp.acces.secteur">Secteur</span></dt>
                <dd>
                    <span *ngFor="let secteur of acces.secteurs; let last = last">
                        <a [routerLink]="['/secteur', secteur?.id, 'view' ]">{{secteur.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/acces', acces.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
