<div>
    <h2 id="page-heading">
        <span jhiTranslate="badgeApp.acces.home.title">Acces</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-acces" [routerLink]="['/acces/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="badgeApp.acces.home.createLabel">
            Create new Acces
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="acces">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="badgeApp.acces.nom">Nom</span></th>
            <th><span jhiTranslate="badgeApp.acces.description">Description</span></th>
            <th><span jhiTranslate="badgeApp.acces.secteur">Secteur</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let acces of acces ;trackBy: trackId">
                <td><a [routerLink]="['/acces', acces.id, 'view' ]">{{acces.id}}</a></td>
                <td>{{acces.nom}}</td>
                <td>{{acces.description}}</td>
                <td>
                    <span *ngFor="let secteur of acces.secteurs; let last = last">
                            <a class="form-control-static" [routerLink]="['../secteur', secteur?.id, 'view' ]">{{secteur.nom}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/acces', acces.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/acces', acces.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'acces/'+ acces.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
