<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-utilisateur-heading" jhiTranslate="badgeApp.utilisateur.home.createOrEditLabel">Create or edit a Utilisateur</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!utilisateur.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="utilisateur.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="badgeApp.utilisateur.nom" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                        [(ngModel)]="utilisateur.nom" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="badgeApp.utilisateur.prenom" for="field_prenom">Prenom</label>
                    <input type="text" class="form-control" name="prenom" id="field_prenom"
                        [(ngModel)]="utilisateur.prenom" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="badgeApp.utilisateur.login" for="field_login">Login</label>
                    <input type="text" class="form-control" name="login" id="field_login"
                        [(ngModel)]="utilisateur.login" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="badgeApp.utilisateur.password" for="field_password">Password</label>
                    <input type="text" class="form-control" name="password" id="field_password"
                        [(ngModel)]="utilisateur.password" />
                </div>

                <div class="form-group">
                    <label jhiTranslate="badgeApp.utilisateur.droit" for="field_droit">Droit</label>
                    <select class="form-control" id="field_droit" multiple name="droit" [(ngModel)]="utilisateur.droits">
                        <option [ngValue]="getSelected(utilisateur.droits, droitOption)" *ngFor="let droitOption of droits; trackBy: trackDroitById">{{droitOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
