<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="utilisateur">
            <h2><span jhiTranslate="badgeApp.utilisateur.detail.title">Utilisateur</span> {{utilisateur.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="badgeApp.utilisateur.nom">Nom</span></dt>
                <dd>
                    <span>{{utilisateur.nom}}</span>
                </dd>
                <dt><span jhiTranslate="badgeApp.utilisateur.prenom">Prenom</span></dt>
                <dd>
                    <span>{{utilisateur.prenom}}</span>
                </dd>
                <dt><span jhiTranslate="badgeApp.utilisateur.login">Login</span></dt>
                <dd>
                    <span>{{utilisateur.login}}</span>
                </dd>
                <dt><span jhiTranslate="badgeApp.utilisateur.password">Password</span></dt>
                <dd>
                    <span>{{utilisateur.password}}</span>
                </dd>
                <dt><span jhiTranslate="badgeApp.utilisateur.droit">Droit</span></dt>
                <dd>
                    <span *ngFor="let droit of utilisateur.droits; let last = last">
                        <a [routerLink]="['/droit', droit?.id, 'view' ]">{{droit.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/utilisateur', utilisateur.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
