<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-badge-heading" jhiTranslate="badgeApp.badge.home.createOrEditLabel">Create or edit a Badge</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!badge.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="badge.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="badgeApp.badge.startDate" for="field_startDate">Start Date</label>
                    <div class="input-group">
                        <input id="field_startDate" type="text" class="form-control" name="startDate" ngbDatepicker  #startDateDp="ngbDatepicker" [(ngModel)]="badge.startDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="startDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="badgeApp.badge.endDate" for="field_endDate">End Date</label>
                    <div class="input-group">
                        <input id="field_endDate" type="text" class="form-control" name="endDate" ngbDatepicker  #endDateDp="ngbDatepicker" [(ngModel)]="badge.endDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="endDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="badgeApp.badge.typeBadge" for="field_typeBadge">Type Badge</label>
                    <select class="form-control" name="typeBadge" [(ngModel)]="badge.typeBadge" id="field_typeBadge" >
                        <option value="VISITEUR">{{'badgeApp.TypeBadge.VISITEUR' | translate}}</option>
                        <option value="VISITEUR_ESCORTE">{{'badgeApp.TypeBadge.VISITEUR_ESCORTE' | translate}}</option>
                        <option value="PELERIN">{{'badgeApp.TypeBadge.PELERIN' | translate}}</option>
                        <option value="EMPLOYE">{{'badgeApp.TypeBadge.EMPLOYE' | translate}}</option>
                        <option value="TEMPORAIRE">{{'badgeApp.TypeBadge.TEMPORAIRE' | translate}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label jhiTranslate="badgeApp.badge.accces" for="field_accces">Accces</label>
                    <select class="form-control" id="field_accces" multiple name="accces" [(ngModel)]="badge.accces">
                        <option [ngValue]="getSelected(badge.accces, accesOption)" *ngFor="let accesOption of acces; trackBy: trackAccesById">{{accesOption.nom}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
