<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="badge">
            <h2><span jhiTranslate="badgeApp.badge.detail.title">Badge</span> {{badge.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="badgeApp.badge.startDate">Start Date</span></dt>
                <dd>
                    <span>{{badge.startDate}}</span>
                </dd>
                <dt><span jhiTranslate="badgeApp.badge.endDate">End Date</span></dt>
                <dd>
                    <span>{{badge.endDate}}</span>
                </dd>
                <dt><span jhiTranslate="badgeApp.badge.typeBadge">Type Badge</span></dt>
                <dd>
                    <span jhiTranslate="{{'badgeApp.TypeBadge.' + badge.typeBadge}}">{{badge.typeBadge}}</span>
                </dd>
                <dt><span jhiTranslate="badgeApp.badge.accces">Accces</span></dt>
                <dd>
                    <span *ngFor="let accces of badge.accces; let last = last">
                        <a [routerLink]="['/acces', accces?.id, 'view' ]">{{accces.nom}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/badge', badge.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
