<div>
    <h2 id="page-heading">
        <span jhiTranslate="badgeApp.badge.home.title">Badges</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-badge" [routerLink]="['/badge/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="badgeApp.badge.home.createLabel">
            Create new Badge
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="badges">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="badgeApp.badge.startDate">Start Date</span></th>
            <th><span jhiTranslate="badgeApp.badge.endDate">End Date</span></th>
            <th><span jhiTranslate="badgeApp.badge.typeBadge">Type Badge</span></th>
            <th><span jhiTranslate="badgeApp.badge.accces">Accces</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let badge of badges ;trackBy: trackId">
                <td><a [routerLink]="['/badge', badge.id, 'view' ]">{{badge.id}}</a></td>
                <td>{{badge.startDate | date:'mediumDate'}}</td>
                <td>{{badge.endDate | date:'mediumDate'}}</td>
                <td jhiTranslate="{{'badgeApp.TypeBadge.' + badge.typeBadge}}">{{badge.typeBadge}}</td>
                <td>
                    <span *ngFor="let accces of badge.accces; let last = last">
                            <a class="form-control-static" [routerLink]="['../acces', accces?.id, 'view' ]">{{accces.nom}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/badge', badge.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/badge', badge.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'badge/'+ badge.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
