<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="secteur">
            <h2><span jhiTranslate="badgeApp.secteur.detail.title">Secteur</span> {{secteur.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="badgeApp.secteur.nom">Nom</span></dt>
                <dd>
                    <span>{{secteur.nom}}</span>
                </dd>
                <dt><span jhiTranslate="badgeApp.secteur.description">Description</span></dt>
                <dd>
                    <span>{{secteur.description}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/secteur', secteur.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
