<div>
    <h2 id="page-heading">
        <span jhiTranslate="badgeApp.droit.home.title">Droits</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-droit" [routerLink]="['/droit/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="badgeApp.droit.home.createLabel">
            Create new Droit
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="droits">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="badgeApp.droit.libelle">Libelle</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let droit of droits ;trackBy: trackId">
                <td><a [routerLink]="['/droit', droit.id, 'view' ]">{{droit.id}}</a></td>
                <td>{{droit.libelle}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/droit', droit.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/droit', droit.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'droit/'+ droit.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
