<div class="card bg-success" style="padding-right: 0px">
    <div class="card-body" style="padding-top: 0px; padding-bottom: 0px">
        <div class="row bg-dark text-white justify-content-center" style="margin-right: -20px; margin-left: -20px" >
            <p class="card-text" style="font-size: x-small" >
                AEROPORT INT BLAISE DIAGNE
            </p>
        </div>
<div class="row justify-content-between">
                <div class="col-5">
                    <p class="card-text" style="font-size: 50px">
                       <strong>{{employe.badge.endDate | date: 'yy'}}</strong>
                    </p>
                </div>
                <div class="col-7-auto">
                    <img src="../../../../content/images/haas.png" alt=""/>
                </div>
</div>
    <div class="row">
            <!--secteur-->
            <div class="col-3">
                <div class="row justify-content-center"  *ngFor="let ac of acces" >
                <div class="col" style="padding-left: 0px">
                    <div *ngFor="let secteur of ac.secteurs" style="margin-bottom: 1px; text-align: center; width: 50px">
                    <h6><span class="bg-light badge badge-pill"
                        [ngClass]="{'text-primary': ac.nom === 'A',
                    'text-danger': ac.nom === 'B',
                    'text-success': ac.nom === 'P'}"
                      style="width: 50px"    >{{secteur.nom}}</span></h6>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-9">
                <div class="row" style="padding-bottom: 3px">
                    <!--zones-->
                    <div class="col-md-auto" *ngFor="let ac of acces" style="padding-right: 1px; padding-right: 1px; padding-bottom: 2px">
                       <h4><span class="bg-light badge" [ngClass]="{
                       'text-primary':ac.nom === 'A',
                       'text-danger': ac.nom === 'B',
                       'text-success': ac.nom === 'P',
                       'text-dark': ac.nom === 'F'
                       }">{{ac.nom}}</span></h4>
                    </div>
                </div>
                <div class="row justify-content-center bg-warning" style="margin-bottom: 2px" >
                    <!--n <serie-->
                    <div class="col-12" style="padding-right: 0px; padding-left: 0px; text-align: center">
                       <span class="card-text"> <strong>{{employe.matricule}}</strong></span>
                    </div>
                </div>
                <div class="row">
                    <!--photo-->
                    <div class="col" style="padding-left: 0px; padding-right: 0px">
                        <img src="../../../../content/images/kaab.jpg" alt="" width="110px" height="110px">
                    </div>
                    <div class="col" style="background-color: white; padding-left: 0px; padding-right: 0px">
                        Signature
                    </div>
                </div>
                <div class="row justify-content-center" style="background-color: #aaffaa">
                    <!--nom-->
                    <span class="card-text"><strong>{{employe.nom}}</strong></span>
                </div>
                <div class="row justify-content-center" style="background-color: #aaffaa; margin-top: 3px">
                    <!--Prenom-->
                   <span class="card-text"> {{employe.prenom}}</span>
                </div>
                <div class="row justify-content-center" style="background-color: #aaffaa; margin-top: 3px; font-size: small">
                    <!--Service-->
                    <span class="card-text">{{employe.nomService}}</span>
                </div>
            </div>
    </div>
            <!--secteur-->
<div class="row justify-content-center bg-warning" style="margin-left: -20px; margin-right: -20px; margin-top: 2px">
    <div class="col-xs col-xs-offset-0"
         *ngFor="let secteur of secteur1D; let last = last; let first = first"
         style="font-size: x-small">
        <span class="card-text"><strong>{{first ? '/' : ''}}{{secteur.nom}}{{last ? '' : '/'}}</strong></span>
    </div>
</div>
</div>
</div>
